/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

/* Common style  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.link {
    padding: 10px 24px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.link .arrow {
    margin-left: 8px;
}
.link:hover {
    background-color: #9410d1;
}
.link .arrow:hover {
    transform: translateX(10px);
}
/* Header Section  */
header {
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
}
.banner-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.banner-info h1 {
    font-size: 64px;
    color: white;
}
.banner-image img {
    width: 556.01px;
    height: 438px;
}
.banner-image img:hover {
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}
/* Player section  */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 1050px;
    padding: 30px;
    margin-top: 70px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    align-items: center;
}
.player {
    width: 300px;
    height: 474px;
    padding: 15px;  
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
    width: 300px;
    height: 256px;  
}
.player h3 {
    font-size: 28px;
}
.player p {
    font-size: 16px;
    color: #6C6C6C;
}

/* Country Section  */
.top-country {
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
}
.section-title {
    color: #2D25A0;
}
.countrys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
}
.country {
    width: 180px;
    height: 60px;
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px gray;
    border-radius: 0px 5px 5px 0px;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(59, 62, 228), rgb(125, 12, 231));
    border-image-slice: 1;
}
.country img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    background-size: cover;
}
.country .country-name {
    margin-left: 16px;
    font-size: 18px;
}
.country .country-name a{
    text-decoration: none;
    color: blue;
}

/* Highlight section  */
.all-highlight {
    display: flex;
    margin-top: 165px;
}
.highlight-details h3 {
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
}
.highlight-details p {
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 24px;
}
.highlight-image {
    margin-left: 65px;
}
.highlight-image img {
    width: 567px;
    height: 427px;
}

/* Recent Match Section  */
.recent-match {
    margin-top: 70px;
}
.hit-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.match {
    width: 300px;
    height: 500px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 5px;
    padding: 10px;
}
.thumbline img {
    width: 300px;
    height: 250px;
}
.match-view {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.comment {
    margin-right: 10px;
}
.heart {
    color: red;
}
.comments {
    color: green;
}

/* Footer Section  */
.footer {
    width: 100%;
    height: 276px;
    background-color: white;
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo img {
    width: 483.87px;
    height: 110px;
    top: 0;
}
.social-icon .icon {
    width: 32px;
    height: 32px;
    color: #969BAB;
    background-color: #e5e6ecee;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social-icon #instagram:hover {
    color: #E02C6D;
}
.social-icon #dribbble:hover {
    color: #ea4c89;
}
.social-icon #twitter:hover {
    color:#00acee;
}
.social-icon #youtube:hover {
    color: red;
}
.footer h3 {
    font-size: 18px;
    font-weight: 500;
}

/* Media Section for mobile */
@media only screen and (max-width: 688px){
    .container, .footer {
        width: 100%; 
    }
    /* Header Section  */
    .header {
        width: 100%;
        height: 700px;
    }
    .banner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }
    .banner-info h1 {
        font-size: 36px;
        color: white;
    }
    .banner-image img {
        width: 329px;
        height: 259.17px;
        margin-top: 50px;
    }
    /* Player Section  */
    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Country Section  */
    .top-country {
        height: 100%;
    }
    .countrys {
        grid-template-columns: repeat(1,1fr);
    }
    /* Highlight Section  */
    .all-highlight {
        flex-direction: column;
        padding: 15px;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    .highlight-details h3 {
        font-size: 30px;
    }
    .highlight-image {
        margin: 29px auto;
    }
    .highlight-image img {
        width: 328px;
        height: 248px;
    }
    /* Recent match Section  */
    .recent-match {
        padding: 15px;
        margin-top: 20px;
    }
    .hit-match {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px; 
    }
    /* Footer Section  */
    .footer {
        margin-top: 43px;
    }
    .footer-logo img {
        width: 271px;
        height: 63px;
    }
    .footer h3 {
        font-size: 18px;
    } 
}

/* Media Section for Tablet version */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container, .footer {
        width: 100%; 
    }
    /* Header Section  */
    .header {
        width: 100%;
        height: 600px;
    }
    .banner-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }
    .banner-info h1 {
        font-size: 36px;
        color: white;
    }
    .banner-image img {
        width: 329px;
        height: 259.17px;
        margin-top: 50px;
    }
    /* Player Section  */
    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Country Section  */
    .top-country {
        height: 100%;
    }
    .countrys {
        grid-template-columns: repeat(2,1fr);
    }
    /* Highlight Section  */
    .all-highlight {
        flex-direction: column;
        padding: 15px;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    .highlight-details {
        width: 80%;
    }
    .highlight-details h3 {
        font-size: 30px;
    }
    .highlight-image {
        margin: 29px auto;
    }
    .highlight-image img {
        width: 328px;
        height: 248px;
    }
    /* Recent match Section  */
    .recent-match {
        padding: 15px;
        margin-top: 20px;
        text-align: center;
    }
    .hit-match {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    /* Footer Section  */
    .footer {
        margin-top: 43px;
    }
    .footer-logo img {
        width: 271px;
        height: 63px;
    }
    .footer h3 {
        font-size: 18px;
    }
}
